<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul class="nav sidebar-nav">
        <div class="sidebar-header">
            <div class="sidebar-brand">
                <a href="#">Khám bệnh</a>
            </div>
        </div>
        <li class="text-center"><a href="patient-infor.html" class="fa fa-bed">Quản lí tiếp nhận bệnh nhân</a></li>
        <li class="text-center"><a href="quanlykhambenh.html" class="fa fa-heartbeat">Quản lí khám bệnh</a></li>
        <li class="text-center"><a href="qlXetNghiem1.html" class="fa fa-stethoscope">Quản lí xét nghiệm</a></li>
        <li class="text-center"><a href="ketquaxetnghiem.html" class="fa fa-plus-square">Quản lí kết quả xét nghiệm</a></li>
        <li class="text-center"><a href="qlVienPhi.html" class="fa fa-money-check">Quản lí viện phí</a></li>
        <li class="text-center"><a href="danhsachbenhnhannoitru.html" class="fa fa-procedures">Quản lí nội trú</a></li>
        <li class="text-center"><a href="dieutrinoitru.html" class="fa fa-clinic-medical">Quản lí điều trị nội trú</a></li>
        <li class="text-center"><a href="quanlyhosobenhan.html" class="fa fa-hand-holding-medical">Quản lí bệnh án</a></li>

        <div class="sidebar-header">
            <div class="sidebar-brand">
                <a href="#">Vật tư bệnh viện</a>
            </div>
        </div>
        <li class="text-center"><a href="qlNganHangMau.html" class="fa fa-vials">Quán lí ngân hàng máu</a></li>
        <li class="text-center"><a href="qlDuoc.html" class="fa fa-capsules">Quản lí dược</a></li>

        <div class="sidebar-header">
            <div class="sidebar-brand">
                <a href="#">Nhân sự</a>
            </div>
        </div>
        <li class="text-center"><a href="quanlynhansucuaha.html" class="fa fa-id-card">Quản lí nhân sự</a></li>
        <li class="text-center"><a href="quanlytaichinh.html" class="fa fa-hand-holding-usd">Quản lí tài chính kế toán</a></li>
    </ul>
</body>
</html>