.important::after {
    content: "(*)";
    color: red;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 370px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: violet;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li:hover {
    background: skyblue !important;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: green;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.sidebar-brand {
    height: 65px;
    position: relative;
    background: violet;
    background: linear-gradient(to right bottom, #3b2f41 50%, #212531 50%);
    padding-top: 1em;
}

.sidebar-brand a {
    color: white;
}

.sidebar-brand a:hover {
    color: white;
    text-decoration: none;
}

.nav.sidebar-nav li a::before {
    /* font-family: fontawesome;
    content: "\f12e"; */
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}

